@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.navbar-brand {
    padding: 17px;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    font-size: 20px;
    background-color: #3700B3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;
    transition: .5s ease;
}

.order-right-side {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    font-size: 20px;
    background-color: #3700B3;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;
}

.order-right-side .order-right-side-content {
    padding: 90px 20px;
}

.order-right-side .order-right-side-content h1, .order-label-name-order, .order-data-displayed {
    color: white;
}

.order-data-displayed-modal, .order-label-name-modal {
    color: black;
}

.order-right-side:hover {
    overflow-y: scroll;
}

.order-title {
    padding: 10px 0px;
}

.sidebar-menu:hover {
    width: 200px;
    overflow-y: scroll;
}

.sidebar-menu .menu-item {
    padding: 10px;
    transition: .5s ease;
}

.sidebar-menu a {
    color: #dddddd;
    text-decoration: none;
}

.sidebar-menu a:hover {
    color: #dddddd;
    text-decoration: none;
}

.sidebar-menu .menu-item:hover {
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #03DAC5;
    cursor: pointer;
}

.sidebar-menu .menu-item .icn {
    margin-right: 20px;
    padding: 10px;
}

.main-menu {
    padding: 90px 200px;
    transition: .5s ease;
    overflow: hidden;
}

.sidebar-menu:hover ~ .main-menu {
    padding-left: 250px;
}

.list-order {
    background-color: #3700B3;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}

.horizontal-line {
    width: 1500px;
    height: 1px;
    background-color: silver;
}

.horizontal-line-inventories {
    width: 1600px;
    height: 3px;
    background-color: #3700B3;
}

.inventory-header, .food-header, .order-header {
    border-bottom: 3px solid #3700B3;
}

.inventory-index-left-top h2, .order-index-left-top h2 {
    font-size: 30px;
    font-weight: 600;
}

.inventory-index-left-top p, .order-index-left-top p {
    margin-bottom: 0px!important;
    color: #3700B3;
}

.inventory-index-right-top .inventory-form-search, .order-index-right-top .order-form-search{
    position: absolute;
    margin-top: 0px;
    right: 0;
    width: 175px;
    height: 30px;
    background: #3700B3;
}

.inventory-index-right-top .btn-inventory-modal {
    position: absolute;
    margin-top: 35px;
    right: 0;
    width: 100px;
    height: 30px;
    background: #03DAC5;
    border-radius: 5px;
    border-style: none;
    color: white;
}

 .inventory-index-right-top a:hover {
     text-decoration: none;
 }

 .inventory-label-name-invent {
     padding-right: 75px;
 }

 .inventory-table .inventory-tr {
     border-bottom: 1px solid #dddd;
 }


.food-index-left-top h2 {
    font-size: 30px;
    font-weight: 600;
}

.food-index-left-top a {
    font-weight: 600;
    margin-right: 15px;
    text-decoration: none;
}

.food-index-left-top a:hover {
    text-decoration: none;
}

.food-index-right-top input {
    position: absolute;
    margin-right: 150px;
    margin-top: 10px;
    right: 0;
    width: 175px;
    height: 30px;
}

.food-list {
    padding: 20px 0;
}

.food-list .food-modal {
    padding: 20px 0;
}
.food-list .food-modal .btn-food-modal {
    border-style: dashed;
    border-color: #3700B3;
    color: #3700B3;
    padding: 140px 50px;
}

.food-list .food-modal .modal-dialog {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    left: 35%;
}

.food-list .food-modal .modal-dialog .modal-content {
    width: 500px;
    height: 450px;
    border-radius: 25px;
}

.food-list .food-modal .modal-dialog .modal-content .modal-header .modal-title {
    margin-left: 1px;
    font-weight: 600;
    font-size: 35px;
}

.form-input-food {
    width: 300px;
    background: #c4c4c4c4!important;
}

.control-label {
    font-weight: 600;
}

.form-select {
    width:255px!important;
    height: 35px!important;
}

.inventory-modal .modal-dialog .modal-content .modal-header .modal-title {
    margin-left: 1px;
    font-weight: 600;
    font-size: 35px;
}

.inventory-modal .modal-dialog .modal-content {
    width: 600px;
    height: 600px;
    border-radius: 25px;
}

.inventory-modal .modal-dialog {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 35%;
}

.inventory-modal-delete .modal-dialog {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35%;
    left: 37%;
}

.inventory-modal-delete .modal-dialog .modal-content {
    width: 500px;
    border-radius: 25px;
}

.inventory-modal-delete .modal-dialog .modal-content .modal-body p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.inventory-modal-delete .modal-dialog .modal-content .modal-footer {
    justify-content: center!important;
}

.inventory-modal-delete .modal-dialog .modal-content .modal-footer button {
    width: 100px;
    box-shadow: 1px 3px 3px grey;
}

.inventory-modal-delete .modal-dialog .modal-content .modal-footer .inventory-delete-btn-yes {
    color: white;
}

.form-input-inventory {
    width: 525px !important;
    background: #c4c4c4c4 !important;
}

.modal-footer .inventory-delete-btn-yes {
    background-color: #3700B3;
}

.modal-footer .food-delete-btn-yes {
    background-color: red;
}

.modal-footer .inventory-delete-btn-no {
    border-color: #3700B3;
}

.inventory-edit-delete {
    margin: -10px -50px !important;
}

.inventory-edit-delete .inventory-modal-delete {
    margin-left: -45px;
}

.card-menu-management {
    margin: 10px 0px;
}

.card-menu-management .card-body {
    background: #3700B3;
}

.card-menu-management .card-body .card-title, .card-menu-management .card-body .card-text {
    color: white;
    text-align: center;
}

.modal-footer-edit {
    justify-content: center !important;
}

.card-menu-management .card-body .btn-food-modal-edit {
    background: #3700F3;
    margin-left: -20px;
    width: 237px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}